.container {
  background-color: #fff;
  flex: 1 0;
  width: 500px;

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
  padding: 1rem;

  @media only screen and (max-width: 23.5em) {
    width: 100%;
  }

  button {
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 1rem;

    padding: 1rem 2rem;
    width: 30%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #343a40;
  }

  .cardHeader {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(52, 58, 64, 0.2);
  }

  .cardBody {
    padding: 1rem;
    border-bottom: 1px solid rgba(52, 58, 64, 0.2);
    display: grid;
    grid-template-columns: 1fr 2fr;

    .language,
    .value,
    .hide {
      padding: 1.2rem 0.8rem;
    }

    .language {
      font-size: 2rem;
      // padding: 1.2rem;
      // line-height: 3.2rem;
      display: flex;
      align-items: flex-end;
    }

    .value {
      font-size: 2rem;
      padding-left: 3rem;
      line-height: 3.2rem;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
    .hide {
      padding-left: 3rem;
      // display: flex;
      // justify-content: center;
      font-size: 2.4rem;
      line-height: 3.2rem;
      color: #74c0fc;
      cursor: pointer;
    }
  }

  .randomwords {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // justify-items: center;
    padding: 1rem;

    &__langswitch {
      font-size: 1.5rem;
      justify-items: center;
      text-align: center;
      padding: 1rem;
      cursor: pointer;

      &:first-child {
        justify-self: end;
      }
      &:not(:first-child) {
        justify-self: start;
      }

      &__selected {
        background-color: #e0f2ff;
      }

      &__disabled {
        background-color: lightgray;
        cursor: not-allowed;
      }
    }

    &__item {
      font-size: 2rem;
      padding: 1rem 2rem;
      cursor: pointer;
      justify-items: stretch;
      text-align: center;
      color: black;
    }

    &__item:hover {
      background-color: aliceblue;
      color: black;
    }
    &__item:active {
      background-color: rgb(207, 232, 254);
    }
    &__item_clicked {
      background-color: coral !important;
      color: white;
    }
    &__item_correct {
      background-color: lightgreen !important;
      color: black;
    }
  }
  .cardFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
}
